@dashboard-leftnav-width: 250px;
@dashboard-leftnav-bg: darken(@navbar-default-bg, 5);
@dashboard-leftnav-border: @white;

@nav-pills-active-link-hover-bg: @brand-secondary;
@nav-link-hover-bg: lighten(@brand-secondary, 5);